
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:wght@300;400;600&family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding:10rem;
}
.container{
    margin: 30px auto;
    padding: 0 80px;
}
