@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 30px auto;
    padding: 0 30px;
}
.grid{
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    overflow: hidden;
}
.img img{
    max-width: 100%;
}
.content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h5.head{
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-size: 13px;
    font-weight: 500;
}
h2.name{
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-size: 25px;
    color: hsl(212, 21%, 14%);
}
p.matter{
    color: hsl(228, 12%, 48%);
    line-height: 30px;
}
p.amount{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    padding-right: 25px;
    font-size: 2rem;
}
.price{
    display: flex;
    align-items: center;
    
}
p.old-price{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
button.cart{
    background-color: hsl(158, 36%, 37%);
    border: none;
    /* padding: 2rem 0; */
    color: white;
    font-weight: 200; 
}
